.container{
    h3{
        font-size: 1.125rem;
        margin: 0rem;
    }

    .notificationWrapper{
        margin-bottom: 2rem;

        .itemWrapper{
            border: 1px solid rgba(102, 102, 102, 0.16);
            padding: 0.25rem 0.5rem;
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
            gap: 0.5rem;
            width: 100%;

            .item{
                width: 90%;
                p{
                font-size: 0.875rem;
                word-break: center;
                margin: 0rem;
            } 
            }
           .togglerDiv{
            width: 10%;

               img{
                   width: 100%;
            }
           }
            
        }
    }
}

@media all and (min-width: 768px) {
    
    .container{
        h3{
            font-size: 1.25rem;
            margin: 0rem;
        }
    
        .notificationWrapper{
            margin-bottom: 4rem;
    
            .itemWrapper{
                padding: 1rem;
                gap: 0.75rem;
    
                .item{
                    p{
                    font-size: 1rem;
                } 
                }
               .togglerDiv{
                   img{
                       width: 50%;
                }
               }
                
            }
        }    
    }
}