.activitiesContainer{
    // height: 100%;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .heading{
        align-items: flex-end;
        line-height: 1;
        margin-bottom: 0.75rem;

        h5, small{
            padding: 0rem;
            margin: 0rem;
        }
    }
    .contentWrapper{
        background-color: #fff;
        padding: 0rem;
        border-radius: 0.5rem;
        height: 100%;
    }
}

@media all and (min-width: 768px){
    .activitiesContainer{
        .contentWrapper{
        }
    }
}

@media all and (min-width: 992px){
    .activitiesContainer{
        .contentWrapper{
        }
    }
}

@media all and (min-width: 1200px){
    .activitiesContainer{
        .contentWrapper{
        }
    }
}