.selectInstitutionWrapper{
    gap: 2rem;
    padding-top: 2rem;
    background-color: #fff; 
    min-height: 100vh;

    .heading{
        gap: 0.5rem;
        align-items: center;

        img{
            width: 10rem;
        }
        p{
            font-size: 1.25rem;
            color: #D25B5D;
        }
        button{
            align-self: flex-end;
            margin-right: 1rem;
        }
    }

        .body{        
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
            gap: 1.5rem;
            padding: 0rem 1rem;

            .studentContainer{
                height: 100%;
                align-items: center;
                cursor: pointer;
                font-family: Jost;
            
                    .imageDiv{
                        border-radius: 50%;
                        padding: 0rem;
                        position: relative;
            
                        .profileImage{
                            width: 5rem;
                            padding: 0rem;
                            border-radius: 50%;
            
                        }
                        span{
                            display: inline-block;
                            font-size: 1.25rem;
                            width: 5rem;
                            height: 5rem;
                            line-height: 5rem;
                            text-align: center;
                            color: black;
                            font-weight: bold;
                            margin: 0rem;
                            border-radius: 50%;
                        }
                    }    
                    
                    p{
                        font-size: 1rem;
                        line-height: 1.5;
                        margin: 0rem;
                        font-weight: bold;
                        text-align: center;
                    }
            }
            }

       
    
}

@media all and (min-width: 768px){
    .selectInstitutionWrapper{
        .heading{
            gap: 0.5rem;
            align-items: center;
    
            img{
                width: 12.5rem;
            }
    
        }

        .body{
                padding: 0rem 2rem 0rem 2rem;
        }
    }
}

@media all and (min-width: 991px){
    .selectInstitutionWrapper{
     
            .body{
                padding: 1rem 5rem ;
                }
    
    }
}