.signUpContainer{
    background-color: #fff;
    padding: 0rem;
    margin: 0rem 0rem;
    width: 100%;

    .tablistWrapper{
        margin-top: 0rem;
        
    }

}

@media all and (min-width: 768px) {

}

@media all and (min-width: 991px) {
  
}

@media all and (min-width: 1200px) {

}