.editProfileContainer{
    width: 100%;
    background-color: #fff;
    background-color: transparent;
    gap: 1rem;

    .header{
        align-items: flex-end;
        padding-bottom: 0rem;
        line-height: 1;
        color: #fff;

        p{
            line-height: 1;
            width: 100%;
        }
        svg{
            cursor: pointer;
        }

    }
    .wrapper{
        background-color: #fff;
        border-radius: 0.25rem;

        .formWrapper{
            background-color: #fff;
            padding: 1rem;
            border-radius: 0.5rem;
            gap: 3rem;
            .header {
                position: relative;
                height: 4rem;
    
                .bgImage {
                    position: absolute;
                    background-repeat: no-repeat;
                    object-fit: cover;
                    background-position: center;
                    border-radius: 0.5rem;
                    width: 100%;
                    height: 100%;
                }
                .profilePic{
                    position: absolute;
                    left: 0;
                    right: 0;
                    margin: auto;
                    bottom: -35%;
                    width: 4rem;
                    height: 4rem;
                    object-fit: cover;
                    border-radius: 50%;
                    background-color: white;
                }
                span{
                    display: inline-block;
                    border-radius: 50%;
                    width: 4rem;
                    height: 4rem;
                    line-height: 4rem;
                    font-size: 1.25rem;
                    text-align: center;
                    color: #fff;
                    font-weight: bold;
                    margin: 0rem;
                  }
                .editIcon{
                    position: absolute;
                    left: 2.5rem;
                    left: 0;
                    right: 0;
                    margin: auto;
                    bottom: -45%;
                    width: 1.5rem;
                }
            }
    
            form{    
                .btnDiv{
                    justify-content: center;
                    padding-top: 1rem;
                 }
            }
        }

        .submissionsDiv{
            padding: 1rem;
            gap: 2rem;

            .heading{
                .title{
                    font-weight: bold;
                    color: #22467B;
                }

                span{
                    color: #EB5757;
                    cursor: pointer;
                    text-decoration: underline;
                    font-size: 1rem;
                }
            }

            .body{
                gap: 1rem;
        
                .submissionContainer{
                    // border: 1px solid black;
                    box-shadow: 2px 2px 8px rgba(0,0,0,0.375);
                    padding: 0.75rem;
                    border-radius: 0.25rem;
                    gap: 0.875rem;
                    cursor: pointer;
        
                    .fileDetails{
                        span{
                            font-size: 1.25rem;
                            color: #000000;
                            font-weight: 450;
                        }
                        small{
                            font-size: 1rem;
                            color: #828282;
                        }
                    }
        
                    .wrapper{
                        margin: 0rem;
                        padding: 0rem;
                        display: flex;
                        flex-direction: column;
        
                        label{
                            font-size: 0.875rem;
                            font-weight: 450;
                            color: #22467B;
                            line-height: 1;
                            margin: 0rem;
                            padding: 0rem;
                        }
                        p{
                            font-size: 1.125rem;
                            color: #000000;
                            line-height: 1;
                            margin: 0rem;
                            padding: 0rem;
                        }
                        a{
                            font-size: 1rem;
                            color: #22467B;
                            line-height: 1;
                            margin: 0rem;
                            padding: 0rem;
                            display: flex;
                            align-items: center;
                        }
                        ol, ul{
                            margin: 0rem;
        
                            li{
                                margin: 0.125rem 0rem;
                            }
                        }
                    }
                }
            }
        }
    }
  
}

@media all and (min-width: 768px){
    .editProfileContainer{
        gap: 1rem;
    
        .header{
        }
        .formWrapper{
            gap: 3rem;
            .header {
                height: 5rem;
    
                .profilePic{
                    bottom: -35%;
                    width: 4rem;
                }
                .editIcon{
                    bottom: -45%;
                    width: 1.75rem;
                }
            }
    
            form{    
                .btnDiv{
                    justify-content: center;
                    padding-top: 0rem;
                 }
            }
        }
    }
}


@media all and (min-width: 991px){
    .editProfileContainer{
        gap: 1rem;
    
        .header{
        }
        .formWrapper{
            gap: 4rem;
            .header {
                height: 7rem;
    
                .profilePic{
                    bottom: -35%;
                    width: 5rem;
                    height: 5rem;
                    object-fit: contain;
                }
                .editIcon{
                    bottom: -45%;
                    width: 1.75rem;
                }
            }
    
            form{    
                .btnDiv{
                    justify-content: center;
                    padding-top: 0rem;
                 }
            }
        }
    }
}

