.general-sidebar{

.sidebar-btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar-btn-wrapper .sidebar-btn {
  padding: 1px 15px;
  border-radius: 40px;
  background: rgba(255, 255, 255, 0.05);
  color: #adadad;
  text-decoration: none;
  margin: 0 auto;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-overflow: ellipsis;
  overflow: hidden;
}
.sidebar-btn-wrapper .sidebar-btn span {
  margin-left: 5px;
  font-size: 13px;
}
.sidebar-btn-wrapper .sidebar-btn:hover {
  color: #d8d8d8 !important;
}
.collapsed .sidebar-btn {
  display: inline-block;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  line-height: 40px;
  padding: 0;
}
main {
  width: 100%;
  display: block;
}

main header {
  margin-bottom: 20px;
}

.app-content {
  padding: 24px;
}

.social-bagdes {
  margin-top: 10px;
}
.social-bagdes img {
  margin: 5px;
}
.block {
  display: flex;
  margin-bottom: 24px;
  font-size: 14px;
  color: #545454;
}
.block > span {
  margin-left: 10px;
}
.app.rtl {
  direction: rtl;
  text-align: right;
}
.app.rtl header h1 {
  transform: translateX(20px);
}
.app.rtl .block {
  direction: rtl;
}
.app.rtl .block > span {
  margin-left: 0;
  margin-right: 10px;
}
.app.rtl .sidebar-btn-wrapper .sidebar-btn span {
  margin-left: 0;
  margin-right: 5px;
}
// @media (max-width: 767.98px) {
//   .app {
//     overflow-x: hidden;
//   }
//   .app header h1 {
//     font-size: 24px;
//   }
// }
// @media (max-width: 767px) {
//   .app .btn-toggle {
//     display: flex;
//   }
//   .app.rtl .btn-toggle {
//     margin-left: auto;
//   }
// }
.menuIcon  {
  padding: 3px 6px;

  img{
    width: 1.5rem;
  }
}


.sidebar-header {
  padding: 1rem 0.5rem;
  margin: 1rem 1rem 3.2rem 1rem;
  border-radius: 4px;
  border: none;
  background-color: #496690;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;

  .imageDiv {
     .user-image {
    width: 100%;
  }
  }

  .user-info{
    line-height: 1;
    
    p{
      font-size: 1.125rem;
      line-height: 1;
    }
    small{
      font-size: 0.625rem;
      font-weight: 300;
    }
  }

  .caret-icon{
    cursor: pointer;
  }
}

.pro-sidebar {
  width: 240px;
  max-width: 240px;
  min-width: 240px;

  .active .pro-inner-item {
    border: none;
    background-color: #D25B5D;
    border-radius: 4px;
    // margin: 0rem 1rem;

    a, img{
      // color: #0066F5;
    }
  }

  .pro-inner-item{
    
    &:hover{
    background-color: #D25B5D !important;
    border-radius: 4px;

    }
  }
}

@media (max-width: 990px) {
  .pro-sidebar.md {
    top: 0;
  }
}
@media all and (min-width: 991px) {
  .btn-toggle{
    display: none;
  }
}
// @media (max-width: 767px) {
//   .app.rtl .btn-toggle {
//     margin-left: 16px;
//     margin-right: 0px;
//   }
// }


.pro-sidebar-content,
.pro-sidebar > .pro-sidebar-inner,
.pro-sidebar .pro-menu > ul > .pro-sub-menu > .pro-inner-list-item {
  background-color: #22467B;
  color: #fff !important;
}


.pro-sidebar > .pro-sidebar-inner > .pro-sidebar-layout .pro-sidebar-header, .pro-sidebar-footer {
  border-bottom: 0px !important;
  border-top: 0px !important;
  color: #fff !important;
}

.pro-sidebar-header {
  position: relative;
  background-color: #22467B;
  border: 1px solid transparent !important;
  padding-top: 1rem;
  color: #fff !important;
}

.bottom-0 {
  bottom: 0;
}

.pro-sidebar
  .pro-menu.shaped
  .pro-menu-item
  > .pro-inner-item
  > .pro-icon-wrapper {
  background-color: transparent;
}

.pro-sidebar .pro-menu a{
  font-size: 1rem;


  &:hover{
    color: #fff !important;
  }
}

.pro-sidebar .pro-menu .pro-menu-item > .pro-inner-item {
  margin: 0rem 1rem;
  padding: 0rem;
}


}


$sidebar-bg-color: #22467B !default;
$sidebar-color: #fff !default;
$sidebar-width: 240px !default;
$sidebar-collapsed-width: 80px !default;
$highlight-color: #0066F5 !default;
$submenu-bg-color: #fff !default;
$submenu-bg-color-collapsed: #fff !default;
$icon-bg-color: #fff !default;
$icon-size: 35px !default;
$submenu-indent: 24px !default;
$breakpoint-md: 990px !default;


// $breakpoint-xs: 480px !default;
// $breakpoint-sm: 576px !default;
// $breakpoint-lg: 992px !default;
// $breakpoint-xl: 1200px !default;
// $breakpoint-xxl: 1600px !default;



@import 'react-pro-sidebar/dist/scss/styles.scss';

