.viewSubmissionContainer{
    width: 100%;
    background-color: #fff;
    background-color: transparent;
    gap: 1rem;
    padding-top: 0rem;
    font-family: Jost;

    .header{
        align-items: flex-end;
        justify-content: flex-end;
        padding-bottom: 0rem;
        line-height: 1;
        color: #fff;

        svg{
            cursor: pointer;
        }
    }
    .formWrapper{
        background-color: #fff;
        padding: 1rem;
        border-radius: 0.5rem;
        gap: 1rem;

        h3{
            font-size: 1.25rem;
            text-align: center;
            color: #D25B5D;
        }

        form{    
            .wrapper{
                gap: 2rem;

                .leftSection{
                    label{
                        font-size: 1rem;
                        color: #A0A4A8;
                    }
                    p{
                        font-size: 1rem;
                        margin-bottom: 0.5rem;
                        display: flex;
                        align-items: center;
                        font-weight: bold;
                        color: #4F4F4F;

                        img{
                            margin-right: 0.5rem;
                        }
                    }

                    .titleDiv{
                        p{
                            font-size: 1.25rem;
                        }
                    }

                    .downloadDiv{
                        align-items: center;
                        p{
                            cursor: pointer;
                            text-decoration: underline;
                        }
                    }
                }

                .rightSection{
                    .singleSubmissionDiv{
                        padding-bottom: 2rem;
                        small{
                            color: #A0A4A8;
                            font-size: 1rem;
                        }
                        p{
                            display: flex;
                            gap: 1rem;
                            margin: 0.5rem 0rem 1rem 0rem;
                            align-items: center;

                            span{
                                color: #4F4F4F;
                            }
                        }

                        label{
                            color: #4F4F4F;
                            
                        }
                        .textAreaDiv{
                            border-radius: 1rem;
                            border: 1px solid #E0E0E0;
                            padding: 0.5rem;
                            background-color: #FFFF;

                               textarea{
                            border: none;
                            color: #A0A4A8;
                            background-color: transparent;
                            outline: none;
                            padding: 0rem;
                            font-family: Jost;

                            &:focus{
                                box-shadow: none ;
                            }
                        }

                        button{
                            align-self: flex-end;
                            padding: 0.25rem 1rem;
                        }
                        }
                    }

                    .multiSubmissionDiv{
                        height: 100%;

                        p{
                            color: #A0A4A8;

                            span{
                                margin-left: 0.5rem;
                                color: #D25B5D;
                                border-bottom: 1px solid #D25B5D;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }

            .btnDiv{
                justify-content: center;
                padding-top: 2rem;
             }
        }
    }
}

@media all and (min-width:991px) {
    .viewSubmissionContainer{
        .formWrapper{
            form{
                .wrapper{
                    gap: 0rem;
                    .leftSection{
                        padding: 0rem 1rem 0rem 0rem;
                    }
                    .rightSection{
                        padding: 0rem 0rem 0rem 1rem;

                        .multiSubmissionDiv{
                            height: 100%;

                            .accordionWrapper{
                                overflow-y: scroll;
                                height: 20rem;
                            }
                        }
                    }
                }
            }
        }
    }
}


