.assignToClassContainer{
    width: 100%;
    background-color: #fff;
    background-color: transparent;
    gap: 1rem;

    .header{
        align-items: flex-end;
        justify-content: flex-end;
        padding-bottom: 0rem;
        line-height: 1;
        color: #fff;

        p{
            line-height: 1;
            width: 100%;
        }
        svg{
            cursor: pointer;
        }

    }
    .formWrapper{
        background-color: #fff;
        padding: 1rem;
        border-radius: 0.5rem;
        gap: 3rem;
        .header {
            position: relative;

            p{
               color: #D25B5D;
               font-size: 1.25rem;
               text-align: center;
            }
        }

        form{    
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .btnDiv{
                justify-content: center;
                padding-top: 1rem;
             }

             small{
                align-self: flex-end;
                color: #D25B5D;
                font-weight: bold;
                border-bottom: 1px solid #D25B5D;
                cursor: pointer;
             }

             span{
                align-self: center;
                text-align: center;
                color: #D25B5D;
                font-weight: bold;
                line-height: 1.5;
                font-size: 1rem;
                margin-bottom: 1rem;
             }
        }
    }
}

@media all and (min-width: 768px){
    .assignToClassContainer{
        gap: 1rem;
    
        .header{
        }
        .formWrapper{
            gap: 3rem;
            .header {
    
            }
    
            form{    
                .btnDiv{
                    justify-content: center;
                    padding-top: 0rem;
                 }
            }
        }
    }
}


@media all and (min-width: 991px){
    .assignToClassContainer{
        gap: 1rem;
    
        .header{
        }
        .formWrapper{
            gap: 2rem;
            .header {

            }
    
            form{    

            }
        }
    }
}

