.tasksAndActivitiesContainer{
    width: 100%;
    padding: 0rem;
    // align-items: center;
    padding: 1rem;
    background-color: #fff;
    gap: 1rem;
    // min-height: calc(100% - 50px);
    height: calc(100% - 50px);
    height: 100%;
    font-family: Jost;

    .header{
        text-align: center;
        color: #22467B;
        justify-content: space-between;
        padding: 0rem 0rem;
        align-items: center;

        .title{
        line-height: 1;
            margin: 0rem;
            color: #000;
            font-size: 1.5rem;
            font-weight: bold;

        }
    }

    .body{
        color: #22467B;
        height: 100%;
        width: 100%;
    }
    .noDataDiv{
        padding: 1rem;
        p{
            text-align: center;
            font-size: small;
            color: #D25B5D;
        }
    }

}

@media all and (min-width: 768px) {
    .tasksAndActivitiesContainer{

    }
}

@media all and (min-width: 991px) {
    .tasksAndActivitiesContainer{
    
    }

}

@media all and (min-width: 1200px) {
    .tasksAndActivitiesContainer{
    
    }

}
