.container{
    h3{
        font-size: 1.125rem;
        margin: 0rem;
    }

    .securityWrapper{
        margin-bottom: 2rem;
        border: 1px solid rgba(102, 102, 102, 0.16);

        .header{
            border: 1px solid rgba(102, 102, 102, 0.16);
            padding: 0.25rem 0.5rem;
            justify-content: space-between;
        }
        .body{
            padding: 0.25rem 0.5rem;
        }
        .itemWrapper{
            border: 1px solid rgba(102, 102, 102, 0.16);
            padding: 0.25rem 0.5rem;
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
            gap: 0.5rem;
            width: 100%;

            .item{
                width: 90%;
                p{
                font-size: 0.875rem;
                word-break: center;
                margin: 0rem;
            } 
            }
            .togglerDiv{
                width: 10%;
                div{
                    input{
                        width: 3rem;
                        height: 1.5rem;
                    }
                    input:checked{
                        background-color: #2C0085;
                    }
                }
               }
            
        }
    }
}

@media all and (min-width: 768px) {
    
    .container{
        h3{
            font-size: 1.25rem;
            margin: 0rem;
        }
    
        .securityWrapper{
            margin-bottom: 4rem;
    
            .header{
                padding: 1rem;
    
            }
            .body{
                padding: 1rem;
            }
            .itemWrapper{
                padding: 1rem;
                gap: 1rem;
    
                .item{
                    p{
                    font-size: 1rem;
                } 
                }
               .togglerDiv{    
                   img{
                       width: 50%;
                }
               }
            }
        }
    
    }
}