.profileContainer{
    padding: 1rem 0rem 4rem 0rem;
    gap: 1rem;
    background-color: #fff;
    hr{
        margin: 0rem;
        color: #E2E2E2;
        border: 1px solid #E2E2E2;
    }

    .header{
        padding: 0.5rem 0rem;
        h3{
          text-align: center;  
          line-height: 1;
          margin: 0rem;
          padding: 0rem;
          color: #22467B;
          font-weight: normal;

        }
    }
    .mainHeader{
        padding: 0rem 0rem 0rem 0rem;
    }
    .body{
    padding: 0rem 1rem 4rem 1rem;

        .tabContainer{
            gap: 0rem;
            padding: 0rem 0.25rem;
            .tabList{
                display: flex;
                justify-content: center;
            }

            .tabPanelContainer{
                border-radius: 0.5rem;
                box-shadow: 0px 4px 21px rgba(0, 0, 0, 0.1);
                .panelContent{
                    gap: 1.5rem;
                    padding: 1rem 0rem;
                    .header{
                        text-align: center;
                        small{
                            color: #828282;
                        }
                    }
                    
                    .imageSection{
                        align-items: center;
                        gap: 1rem;

                        .imageDiv{
                            img{
                                border-radius: 50%;
                                width: clamp(3rem, 4rem, 5rem);
                                height: clamp(3rem, 4rem, 5rem);
                                object-fit: contain;
                            }
                        }
                    }

                    .formWrapper{
                        form{
                            width: 100%;
                            .submitBtnDiv{
                                margin-top: 2rem;
                                justify-content: center;
                            }
                        }

                        .notificationFormContainer{
                            width: 100%;
                            margin: 0 auto;
                            gap: 1.5rem;

                            .inputWrapper{
                                justify-content: space-between;
                                background: #FFFFFF;
                                box-shadow: 0px 4px 21px rgba(0, 0, 0, 0.08);
                                border-radius: 12px;
                                margin-top: 0.5rem;
                                padding: 0rem 1rem;

                                .leftSection{
                                    gap: 1rem;
                                    font-size: 0.875rem;
                                }

                                .rightSection{
                                    gap: 0.125rem;
                                   small{
                                       font-size: 0.75rem;
                                       color: #D25B5D;
                                       text-transform: lowercase;
                                   }
                                }
                            }

                            small{
                                color: #A0A4A8;
                                text-transform: uppercase;
                                margin: 0.5rem 0rem 0.25rem 0rem;
                                font-size: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media all and (min-width:768px) {
    .profileContainer{
        padding: 1rem 0rem 4rem 0rem;        
        gap: 1rem;

        .header{
            h3{
              text-align: left;  
              line-height: 1;
              margin: 0rem;
              padding: 0rem;
              color: #22467B;
    
            }
        }
        .body{
            padding: 0rem 2rem 0rem 2rem;
            .tabContainer{
                gap: 0rem;
                padding-top: 2rem;
                .tabList{
                    flex-direction: column;
                    justify-content: flex-start;
                    gap: 1rem;
                }
    
                .tabPanelContainer{
                  padding: 2rem;
                    .panelContent{
                        gap: 1.5rem;
                        padding: 0rem 0rem 2rem 0rem;

                        .header{
                            text-align: left;
                        }
                        
                        .imageSection{
                            gap: 1rem;
                        }
                    }
                }
            }
        }
    }
}

@media all and (min-width:991px) {
    .profileContainer{
        padding: 1rem 0rem 4rem 0rem;        
        gap: 1rem;

        .header{
            h3{
              text-align: left;  
              line-height: 1;
              margin: 0rem;
              padding: 0rem;
              color: #22467B;
    
            }
        }
        .body{
            padding: 0rem 2rem 0rem 2rem;
            .tabContainer{
                gap: 0rem;
                padding-top: 2rem;

                .tabList{
                    gap: 1rem;
                    padding-right: 2rem;
                }
    
                .tabPanelContainer{
                  padding: 2rem;
                // align-items: center;

                    .panelContent{
                        gap: 1.5rem;

                        .header{
                            text-align: left;
                        }
                        
                        .imageSection{
                            gap: 1rem;
                        }

                        .formWrapper{
                            form{
                                .inputsWrapper{
                                    display: flex;
                                    flex-wrap: wrap;
                                    justify-content: space-between;
                                    gap: 1rem;
                                    &>div{
                                        width: 47.5%;
                                    }
                                }
                            }

                            .notificationFormContainer{
                                width: 85%;
                                margin: 0 auto;
                                // gap: 1rem;

                                small{
                                    color: #A0A4A8;
                                    text-transform: uppercase;
                                    margin: 0.5rem 0rem 0.25rem 0rem;
                                    font-size: 10px;
                                }
                            }
                        }
                    }

                    .innerWrapper{
                        width: 100%;
                       margin: 0 auto;
                    }
                }
            }
        }
    }
}

@media all and (min-width:1200px) {
    .profileContainer{
        gap: 1rem;

        .header{
            h3{
              text-align: left;  
              line-height: 1;
              margin: 0rem;
              padding: 0rem;
              color: #22467B;
    
            }
        }
        .body{
            padding: 0rem 3rem 0rem 3rem;
            .tabContainer{
                gap: 0rem;
                padding-top: 2rem;
                .tabList{
                    gap: 1rem;
                    padding-right: 4rem;
                }
    
                .tabPanelContainer{
                  padding: 2rem;
                    .panelContent{
                        gap: 1.5rem;

                        .header{
                            text-align: left;
                        }
                        
                        .imageSection{
                            gap: 1rem;
                        }

                        .formWrapper{
                            form{
                                .inputsWrapper{
                                    display: flex;
                                    flex-wrap: wrap;
                                    justify-content: space-between;
                                    gap: 1rem;
                                    &>div{
                                        width: 47.5%;
                                    }
                                }
                            }
                        }
                    }
                    .innerWrapper{
                        width: 50%;
                       margin: 0 auto;
                    }
                }
            }
        }
    }
}