  .react-tabs {
  }
    
  .react-tabs__tab {
    list-style: none;
    cursor: pointer;
    color: #828282;
    text-align: center;
    padding: 0.5rem 1rem;
  }
  
  .react-tabs__tab--selected {
    background: #D25B5D;
    color: white;
    border: none;
    border-radius: 1rem;
  }
  
  .react-tabs__tab-panel {
    display: none;
  }
  
  .react-tabs__tab-panel--selected {
    display: block;
  }
  