.container {
    background-color: #F6F8FC;
}
.contentArea{
    overflow-y: auto;
    width: 100%;
    min-height: 100vh;

    .header{
        position: sticky; 
        top: 0; 
        left: 0; 
        z-index: 99; 
        height: 50px; 
    }
    .pageContent{
        margin-top: 0rem;
    }
    .header, .pageContent{
        width: 100%;
    }
}

@media all and (min-width: 991px) {
    .contentArea{
        height: 100vh;
        overflow-y: auto;
        width: 100%;

        .pageContent{
            margin-top: 1rem;
        }

        .header, .pageContent{
            width: 100%;
        }
    }
}
