.dashboardContainer {
    background-color: #fff;
    background-color: #fafafa;
}
.generalLayout{
.header{
    position: sticky; 
    top: 0; 
    left: 0; 
    z-index: 99; 
    height: 50px; 
}
.contentArea{
    overflow-y: auto;
    width: 100%;
    // min-height: 100vh;

    .pageContent{
        margin-top: 0rem;
    }
    .header, .pageContent{
        width: 100%;
    }
}
}

.proprietorLayout{

    .contentArea{
        overflow-y: auto;
        width: 100%;
        // min-height: 100vh;
        .header{
        position: sticky; 
        top: 0; 
        left: 0; 
        z-index: 99; 
        height: 50px; 
    }
        .pageContent{
            margin-top: 0rem;
            min-height: calc(100vh - 50px);
            background-color: #fff;
        }
        .header, .pageContent{
            width: 100%;
        }
    }
    }


@media all and (min-width: 991px) {
    .dashboardContainer{
        height: 100vh;
        overflow-y: hidden;
        .generalLayout{
             .header {
            height: 75px;
            margin: 0rem;
            padding: 0rem;
        }

        .contentArea{
            width: 100%;
            display: flex;
            height: 100%;
            // height: calc(100% - 75px);
    
            .sidebar{
                // width: 20%;
                border: 1px solid #E9ECFF;
                z-index: 1;
                // height: calc(100vh - 75px);
            }

            .pageContent{
                margin: 0rem;
                padding: 0rem;
                overflow-y: auto;
                // height: calc(100vh - 75px);

            }
        } 
        }
      
        .proprietorLayout{
            .sidebar{
                // width: 20%;
                border: 1px solid #E9ECFF;
                z-index: 1;
                // height: calc(100vh - 75px);
                height: 100%;
            }


       .contentArea{
           width: 100%;
           display: flex;
           height: 100%;
           // height: calc(100% - 75px);
   
           .header {
            height: 75px;
            margin: 0rem;
            padding: 0rem;
        }

           .pageContent{
               margin: 0rem;
               padding: 0rem;
               overflow-y: auto;
               height: calc(100vh - 75px);

           }
       } 
       }
    }
   
  
}
