.container{
    padding: 0.5rem 1rem;

    .sectionWrapper{
        
        .formDiv {
            order: 2;
        }

        .quickActionsDiv{
            padding: 2rem 1rem;
            order: 1;

            p{
                font-weight: bold;
            }

            .btnGroup {
                flex-wrap: wrap;
                gap: 0.5rem;
            }
        }
    }
}

@media all and (min-width: 768px) {
    .container{
        padding: 2rem 1rem;
    
        .sectionWrapper{
            
            .formDiv {
                order: 1;
            }
    
            .quickActionsDiv{
                padding: 0rem 1rem;
                order: 2;
    
                p{
                    font-weight: bold;
                }
    
                .btnGroup {
                    flex-wrap: wrap;
                    gap: 0.5rem;
                }
            }
        }
    }
}

@media all and (min-width:991px){
    .container{
        padding: 1rem 2rem 1rem 2rem;
    }
}

@media all and (min-width:1200px){
    .container{
        padding: 2rem 3rem 1rem 3rem;
        .sectionWrapper{
            
            .formDiv {
                order: 1;
            }
    
            .quickActionsDiv{
                padding: 0rem 4rem;
                order: 2;
       
                .btnGroup {
                    flex-wrap: wrap;
                    gap: 0.5rem;
                }
            }
        }
    }    
}