.sidebar {
  position: fixed;
  height: 100vh;
  background: #0050c8;
  &__nav {
    display: grid;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    .sidebar-menu-items {
      list-style: none;
      padding: 20px 0.5em;
      margin-top: -8px;
      & > li {
        margin: 20px 0.2em;
        a {
          font-weight: 500;
          padding: 6px 0;
          height: 40px;
          width: 40px;
          place-items: center;
          display: grid;
          border-radius: 50%;
          font-size: 16px;
          line-height: 20px;
          color: #344563;
          text-decoration: none;
          &:hover {
            transition: none;
          }
        }
        svg path {
          stroke: #ffffff;
        }
      }
    }
    &-active {
      background: white;
      svg path {
        stroke: #0052cc !important;
      }
    }
  }
}

.menu__item {
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  .hover__state {
    display: none;
    position: absolute;
    white-space: nowrap;
    top: 0;
    left: 150%;
    padding: 10px 10px;
    font-size: 12px;
    color: #ffffff;
    background: rgb(99, 99, 99);
    border-radius: 8px;
    &::after {
      content: '';
      width: 0;
      height: 0;
      border-top: 5px solid transparent;
      border-right: 5px solid rgb(99, 99, 99);
      border-bottom: 5px solid transparent;
      position: absolute;
      top: 50%;
      left: -5px;
      transform: translateY(-50%);
    }
  }
  &:hover .hover--active {
    display: block;
  }
  .menu__icon {
    margin-right: 0.5em;
    width: 24px;
    height: 24px;
  }
}
