.viewClassContainer{
    margin: 0rem;
    padding: 0.5rem;
    gap: 1rem;

    .lessonDetails {
        align-items: flex-end;
        line-height: 1;

        p {
            .title {
                font-size: 1.125rem;
                font-weight: 500;
                color: #000;
            }

            small {
                color: #828282;
                font-size: 0.75rem;
            }
        }
    }
    .container{
        width: 100%;

            .mainContent{
        gap: 1rem;
        margin: 0rem;


        .viewingArea {
            height: 50vh;
            img{
                width: 100%;
                height: 100%;
                border-radius: 0.5rem;
            }
        }
        .transcriptArea{
            margin-top: 1rem;
            h5{
                color: #22467B;
            }
            p{
                color: #4F4F4F;
            }
        }
    }
    .aside{
        display: none;
    }
    }

}

@media all and (min-width: 768px){
    .viewClassContainer{
        margin: 0rem;
        padding: 1rem;
        .mainContent{
            gap: 1rem;
            padding: 0rem;
            margin: 0rem;

            .lessonDetails {    
                p {
                    .title {
                        font-size: 1.125rem;
                    }
    
                    small {
                        font-size: 0.75rem;
                    }
                }
            }
    
            .viewingArea {
                height: 75vh;
            }
        }
    }
}

@media all and (min-width: 991px){
    .viewClassContainer{
        margin: 2rem 0rem;
        padding: 1rem;
        .container{

      
        .mainContent{
            gap: 1rem;
            padding: 0rem;
            margin: 0rem;

            .lessonDetails {    
                p {
                    .title {
                        font-size: 1.125rem;
                    }
    
                    small {
                        font-size: 0.75rem;
                    }
                }
            }
    
            .viewingArea {
                height: 75vh;
            }
        }
        .aside{
            display: block;

            .subGroupContainer{
                padding: 0rem;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                gap: 1.5rem;
                div{
                    cursor: pointer;
                }
            }
        }  
    }
    }
}