.PhoneInputWrapper{
    position: relative;
    border: 1px solid #DBDDE0;
    border-radius: 1.5rem;
    padding: 0.125rem;
    align-self: flex-start;

    label{
        display: block;
        color: #A0A4A8;
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 1;
        margin-bottom: 0px;
        text-align: left;
        margin-left: 1rem;
    }
    .PhoneInput{
        padding: 4px 8px 4px 8px;
        border-radius: 0.25rem;
        margin: 0rem;

        .PhoneInputInput{
            border: none;
            outline: none;
            font-size: 0.75rem;
            line-height: 1;
            color: #5e6c84;
            font-style: normal;
            font-weight: normal;
        }
    }

    small{
        color: #eb5757;
        font-size: 0.75rem;
        margin: 0rem;
        line-height: 1;
        padding-top: 0.125rem;
    }
}