.submissionAccordionContainer{
    .accordionItem{
        padding-bottom: 0.75rem;

        .accordionHeading{

            .title{
                font-size: 1.125rem;
                margin-left: 0.5rem;
            }
           
            button{
                padding: 0.375rem 1rem;
            }
        }
          .accordionPanel{
            border: 1px solid #d25b5d6b;
            padding: 0rem;
            border-radius: 0.5rem;

            .leftSection{
                padding: 1rem;
                small{
                    color: #A0A4A8;
                    font-size: 1rem;
                }
                p{
                    display: flex;
                    gap: 1rem;

                    svg{
                        cursor: pointer;
                    }
                }
            }

              .rightSection{
        border-left: 1px solid rgba(173, 216, 230, 0.623);
        padding: 1rem;

        form{
            gap: 1rem;
        }

        textarea{
            box-shadow: none !important;
            // border: none;
            background-color: transparent;
            margin-bottom: 0rem;

            &::placeholder{
                color: #000000;
            }
        }

        button{
            align-self: flex-end;
            padding: 0.5rem 1.5rem;
        }
    }
          }
   
    }
 
}