.submissionAccordionContainer{
    .accordionItem{
        padding: 0.5rem;

        .accordionHeading{

            .title{
                font-size: 1.125rem;
                margin-left: 0.5rem;
                font-weight: 450;
            }
           
            button{
                padding: 0.375rem 1rem;
            }
        }
          .accordionPanel{
            border: 1px solid #d25b5d6b;
            padding: 0rem;
            border-radius: 0.5rem;

            .leftSection{
                padding: 1rem;
                gap: 0.5rem;
                small{
                    color: #A0A4A8;
                    font-size: 1rem;
                }
                a{
                    color: #d25b5d;
                    font-size: 1rem;
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    // color: #;

                    svg{
                        margin-left: 0.5rem;
                    }
                }
                p{
                    display: flex;
                    gap: 1rem;

                    svg{
                        cursor: pointer;
                    }
                }
                .answerDiv{
                    div{
                        font-size: 1rem;
                    }
                }
            }

              .rightSection{
        border-left: 1px solid rgba(173, 216, 230, 0.623);
        padding: 1rem;
        border-radius: 0rem 0.5rem 0.5rem 0rem;

        form{
            gap: 1rem;
        }

        textarea{
            box-shadow: none !important;
            border: 1px solid rgba(173, 216, 230, 0.623);
            background-color: white;
            margin-bottom: 0rem;

            &::placeholder{
                color: #000000;
            }
        }

        button{
            align-self: flex-end;
            padding: 0.5rem 1.5rem;
        }
    }
          }
   
    }
 
}