.myClassesContainer{
    width: 100%;
    padding: 0rem;
    align-items: center;
    margin-top: 0.5rem;

    .header{
        text-align: center;
        border-bottom: 1px solid #E2E2E2;
        color: #22467B;
        padding-bottom: 1rem;
    }

    .body{
        gap: 1.5rem;
        padding: 1rem;
        color: #22467B;

        .sectionWrapper{
            .title{
                font-weight: bold;
            }
            .subGroupContainer{
                padding: 1rem;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                gap: 1.5rem;
                div{
                    cursor: pointer;
                }
            }
        }

    }


}

@media all and (min-width: 768px) {
    .myClassesContainer{
        width: 100%;
        padding: 0rem;
        align-items: center;
        margin-top: 1.5rem;
    
        .body{
            gap: 1.5rem;
            .sectionWrapper{
                .subGroupContainer{
                    padding: 0.5rem 3rem;
                    display: grid;
                    grid-template-columns: repeat(auto-fill, 18rem);
                    grid-gap: 1rem;
                    justify-content: space-evenly;
                }
            }
        }
    }
}

@media all and (min-width: 991px) {
    .myClassesContainer{
        margin-top: 2.5rem;
    
        .body{
            gap: 1.75rem;
            .sectionWrapper{
                .subGroupContainer{
                    padding: 1rem 1rem;
                }
            }
        }
    }

}

@media all and (min-width: 1200px) {
    .myClassesContainer{
    
        .body{
            gap: 1.75rem;
            .sectionWrapper{
                .subGroupContainer{
                    padding: 1rem 1rem;
                }
            }
        }
    }

}
