.createActivityContainer{
    width: 100%;
    background-color: #fff;
    background-color: transparent;
    gap: 1rem;

    .header{
        align-items: flex-end;
        justify-content: flex-end;
        padding-bottom: 0rem;
        line-height: 1;
        color: #fff;

        svg{
            cursor: pointer;
        }

    }
    .formWrapper{
        background-color: #fff;
        padding: 1rem;
        border-radius: 0.5rem;
        gap: 1rem;

        h3{
            font-size: 1rem;
            text-align: center;
            color: #D25B5D;
        }

        form{    
            
            .wrapper{
                gap: 2rem;

                .leftSection{
                    gap: 1rem;

                    .radioButtonGroup{
                        gap: 1.5rem;
                        font-size: 0.875rem;
                    }

                    .fileUploadDiv{
                        height: 7rem;
                        border: 1px dashed #D25B5D;
                        white-space: nowrap;
                        font-size: 0.75rem;
                        border-radius: 0.5rem;
                        background-color: #d6777917;
                    }

                    .thumbnailDiv{
                        p{
                            font-size: 1rem;
                            color: #000;
                            margin: 0rem;
                            line-height: 1;

                            svg{
                                cursor: pointer;
                                margin-left: 2rem;
                            }
                        }
                        small{
                            font-size: 0.75rem;
                            color: #828282;
                        }
                    }
                }
            }

            .btnDiv{
                justify-content: center;
                padding-top: 2rem;
             }
        }
    }
}

@media all and (min-width:991px) {
    .createActivityContainer{
        .formWrapper{
            form{
                .wrapper{
                    gap: 0rem;
                    .leftSection{
                        padding: 0rem 1rem 0rem 0rem;
                    }
                    .rightSection{
                        padding: 0rem 0rem 0rem 1rem;
                    }
                }
            }
        }
    }
}


