.addPerformanceIndicatorContainer{
    width: 100%;
    background-color: #fff;
    background-color: transparent;
    gap: 1rem;

    .header{
        align-items: flex-end;
        justify-content: flex-end;
        padding-bottom: 0rem;
        line-height: 1;
        color: #fff;

        p{
            line-height: 1;
            width: 100%;
        }
        svg{
            cursor: pointer;
        }

    }
    .formWrapper{
        background-color: #fff;
        padding: 1rem;
        border-radius: 0.5rem;
        gap: 3rem;
        .header {
            position: relative;

            p{
               color: #D25B5D;
               font-size: 1.25rem;
               text-align: center;
            }
        }

        form{    
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .imageSection{
                justify-content: center;
                align-items: center;
                gap: 1rem;

                p{
                    line-height: 1;
                    font-weight: bold;
                    font-size: 1rem;
                }

                .imageDiv{
                    width: 5rem;

                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }

            .btnDiv{
                justify-content: center;
                margin-top: 2rem;
             }
        }
    }
}

@media all and (min-width: 768px){
    .addPerformanceIndicatorContainer{
        gap: 1rem;
    
        .header{
        }
        .formWrapper{
            gap: 3rem;
            .header {
    
            }
        }
    }
}


@media all and (min-width: 991px){
    .addPerformanceIndicatorContainer{
        gap: 1rem;
    
        .header{
        }
        .formWrapper{
            gap: 2rem;
        }
    }
}

