.teacherRatingContainer{
    height: 100%;
    .heading{
        align-items: flex-end;
        line-height: 1;
        margin-bottom: 0.75rem;

        h5, small{
            padding: 0rem;
            margin: 0rem;
        }
    }
        .ratingsDiv{
            height: inherit;
            background-color: #fff;
            padding: 0rem;
            overflow-y: auto;
        }
}

@media all and (min-width: 768px) {
    .teacherRatingContainer{

    }
}

@media all and (min-width: 991px){
    .teacherRatingContainer{

    }
}

@media all and (min-width: 1200px){
    .teacherRatingContainer{

    }
}