.error-page-container {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    height: 100vh;
   
    .error-card{
        width: 100%;
        background: #FFFFFF;
        height: 100%;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
        align-items: center;
        padding: 1rem;

        .error-image-div{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;

             img {
            width: 100%;
            border-radius: 0.5rem;
        }
        }
        .error-text{
          text-align: center;

          a{
              color: #D25B5D;
          }
        }
      }
}

@media all and (min-width: 768px) {
.error-page-container{
    .error-card{
         .error-image-div{

         img {
        width: 60%;
    }
    }
    }
      .error-text{
        width: 50%;
    }
}  
}

@media all and (min-width: 991px) {
    .error-page-container{
        .error-card{
             .error-image-div{
               
             img {
            width: 35%;
        }
        }
        }
          .error-text{
            width: 50%;
        }
    }

}
  