.dashboardHomeContainer{
    padding: 0rem 0rem 4rem 0rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: auto;
    background-color: #F6F8FC;

    .heading{
        flex-wrap: wrap;
        gap: 0.5rem;
        padding: 1rem;
        background-color: #D6777812;

        p{
            font-weight: bold;
        }

        .studentsWrapper{
        flex-wrap: wrap;
        gap: 1.5rem;
        

        .studentContainer{
           gap: 0.25rem; 
           cursor: pointer;

           img{
               width: 2.5rem;
                height: 2.5rem;
                border-radius: 50%;
           }

           small{
               font-family: Poppins;
               font-size: 0.875rem;
           }
        }
        }

    }

    h5{
        color: #22467B;
        font-weight: bold;
    }

    .body{
        .leftSection{
            margin-bottom: 2rem;

            .heroImageSection{
                height: 35vh;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin: 0rem 1rem 2rem 1rem;
                position: relative;
        
                .bgImage{
                    position: absolute;
                    background-repeat: no-repeat;
                    object-fit: cover;
                    object-position: 5% center;
                    width: 100%;
                    height: 100%;
                    border-radius: 0.5rem;
                }
                
                .heroImageText{
                    position: relative;
                    justify-content: center;
                    align-items: center;
                    color: white;
                    font-weight: 450;
                    padding: 2rem;
                    border-radius: 0.5rem;
                    background-color: rgba(0, 0, 0, 0.404);
                    height: 100%;
                    width: 100%;

                    h3{
                        font-size: 1.75rem;
                        font-weight: 500;
                    }
                }
            }

            .tablesSection {
                gap: 1.5rem;
               padding: 0rem 1rem;
            }
        }

        .rightSection{
            .rightSectionInnerContainer {
            gap: 1.5rem;
            padding: 0rem 1rem;
        } 
        }
    }
}

@media all and (min-width: 768px){
    .dashboardHomeContainer{
        padding: 0rem 0rem 4rem 0rem;
        gap: 2.5rem;

        .heading{
            gap: 2rem;
            padding: 1rem;
            flex-wrap: nowrap;

            p{
                white-space: nowrap;
            }
       
            .studentsWrapper{
            gap: 1.5rem;
                
            .studentContainer{
               gap: 0.25rem; 
    
               img{
                   width: 2.5rem;
                    height: 2.5rem;
               }
            }
            }
        }
    
        h5{
            color: #22467B;
        }

        .body{
            .leftSection{
                padding: 0rem 1rem;

        .heroImageSection{
            height: 35vh;   
            margin: 0rem 0rem 2rem 0rem; 

            .bgImage{
                position: absolute;
                object-position: right;
                object-fit: cover;
                height: 100%;
            }

            .heroImageText{
                align-items: flex-start;
            }

        }
        .tablesSection {
            gap: 1.5rem;
            padding: 0rem 0rem;
        }

            }
            .rightSection{
                        .rightSectionInnerContainer {
            gap: 0rem;
            padding: 0rem 1rem;
        }
            }
        }
    }

}

@media all and (min-width:991px){
    .dashboardHomeContainer{
        padding: 0rem 0rem 4rem 0rem;
        gap: 2.5rem;

        .heading{
            gap: 2rem;
            padding: 1rem 1rem;
       
            .studentsWrapper{
            gap: 1.5rem;
                
            .studentContainer{
               gap: 0.25rem; 
    
               img{
                   width: 2.5rem;
                    height: 2.5rem;
               }
            }
            }
        }
    
        h5{
            color: #22467B;
        }

        .body{
            .leftSection{
                padding: 0rem 1rem 0rem 1rem;

                .heroImageSection{
                    margin: 0rem 0rem 2rem 0rem;
                    .bgImage{
                        position: absolute;
                        object-position: right;
                    }
                    
                }
        
                .tablesSection {
                    gap: 1.5rem;
                    padding: 0rem 0rem;
                }
            }
            .rightSection{
                padding: 0rem 1rem 0rem 0rem;

                .rightSectionInnerContainer {
                    gap: 2rem;
                    padding: 0rem 0rem;
                }
            }
        }
  
    }

    }


@media all and (min-width:1200px){
    .dashboardHomeContainer{
        padding: 0rem 0rem 4rem 0rem;
        gap: 2.5rem;
    
        h5{
            color: #22467B;
        }

        .body{
            .leftSection{
                .heroImageSection{
                    margin: 0rem 0rem 3rem 0rem;
                    .bgImage{
                        position: absolute;
                    }  
                }
            
                .tablesSection {
                    gap: 0rem;
                    padding: 0rem 0rem;
                }
            }
            .rightSection{
                .rightSectionInnerContainer {
                gap: 2rem;
                padding: 0rem 0rem;
        }
            }
        }

    }
  
}       