.container{
    h3{
        font-size: 1.125rem;
        margin: 0rem;
    }

    .accountInfoWrapper{
        margin-bottom: 2rem;
        border: 1px solid rgba(102, 102, 102, 0.16);

        .header{
            border: 1px solid rgba(102, 102, 102, 0.16);
            padding: 0.25rem 0.5rem;
            justify-content: space-between;

        }
        .body{
            padding: 0.25rem 0.5rem;
        }
    }

}

@media all and (min-width: 768px) {
    
    .container{
        h3{
            font-size: 1.25rem;
            margin: 0rem;
        }

        .accountInfoWrapper{
            margin-bottom: 4rem;
    
            .header{
                padding: 1rem 1rem;    
            }
            .body{
                padding: 1rem;
            }
        }
    }
}