.submissionsContainer{
    margin: 0rem;
    padding: 0.5rem;
    gap: 1.5rem;
    align-items: center;

    .header{
        text-align: center;
        border-bottom: 1px solid #E2E2E2;
        width: 100%;
        padding-bottom: 0.5rem;
        h5{
            color: #22467B;
        }
    }

    .filterSection{
        justify-content: flex-end;
            gap: 1rem;
        font-size: 0.75rem;
        input{
            width: 50%;
        }

        
        .dropdown{
            .dropdownToggler{
            border: 1px solid #E2E2E2;
            background-color: transparent;
            color: black;
            cursor: pointer;
            padding: 0.125rem 0.5rem;
            margin-left: 1rem;
            // outline: none;

            svg{
                margin-right: 0.5rem;
            }

            &:focus{
                // outline: none;
                border: 1px solid #D25B5D;
                box-shadow: none !important;
            }
            
        }
            .dropdownMenuWrapper{
                margin-top: 1rem;
                 outline: none;
                 padding: 0.5rem 0.75rem 1rem 0.75rem;

                 .radioDiv{
                    margin-top: 1rem;
                    display: flex;
                    justify-content: space-between;
                 }

                 .searchDiv{
                    display: flex;
                    justify-content: space-between;
                    margin: 0.25rem 0rem 0.5rem 0rem;
                    gap: 0.25rem;
                 }

               button{
                   padding: 0.5rem 0.5rem;
                   border-radius: 0.25rem;
                   background-color: #D25B5D;
                   border: none;
                   color: #fff;
               }                   
            }
        }
    }

    .tableDiv{
        width: 100%;
    }


}

@media all and (min-width: 768px){
    .submissionsContainer{
        padding: 1rem;
        gap: 1.5rem;
    
        .header{

        }
    
        .filterSection{
            justify-content: flex-end;
                gap: 1rem;
            font-size: 0.75rem;
            input{
                width: auto;
            }
        }
    
    }
}

@media all and (min-width: 991px){
    .submissionsContainer{
        padding: 1rem 3rem;
        gap: 1.5rem;
    
        .header{

        }
    
        .filterSection{
            justify-content: flex-end;
                gap: 1rem;
            font-size: 0.75rem;
            input{
            }
        }
    
    }
}