.footerContainer{
    width: 100%;
    padding: 3rem 1rem;
    margin: 0rem 0rem 0rem 0rem;
    gap: 2rem;
    color: #496690;

    .profileSummary{
        div{
            img{
                width: 50%;
            }
        }
        p{
            margin-bottom: 0.5rem;
        }
    }

    :is(.productSection, .aboutSection, .socialsSection, .contactSection){
        .header{
            font-weight: 600;
            color: #22467B;
            margin-bottom: 1rem;
        }
        ul{
            padding: 0rem;
            li{
                margin-bottom: 0.5rem;
                cursor: pointer;
                font-size: 0.75rem;
                span:nth-child(1){
                    margin-right: 0.5rem;
                }
                img{
                    width: 1.125rem;
                    
                }

                &:hover{
                    font-weight: bold;
                }
            }
        }
    }
  
    .appStoreDiv{
        padding: 4rem 1rem;
        background-color: #F6F7F9;
    
     
        .appStoreContent{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;

            h2{
                font-family: NunitoSans;
            }
    
            .appStoreBtnDiv{
                gap: 1rem;
                margin-top: 1rem;
                justify-content:center;
                img{
                    width: 7rem;
                }
            }
        }
        .imageDiv{
            display: none;
        }
       
    }
    .lastSection{
        display: flex;
        flex-direction: column;
        background-color: #F6F7F9;
        padding: 0rem 1rem 3rem 1rem;
    
        .profileSummary{
            display: flex;
            flex-direction: column;
            margin-bottom: 3rem;
    
            img{
                width: 10rem;
                margin-bottom: 2rem;
            }
            p{
                font-size: 1rem;
                font-family: Poppins;
                color: #433C3C;
                margin-bottom: 1rem;
            }
        }
    
        .informationLinks {
            font-family: Poppins;
            margin-bottom: 3rem;
    
            ul{
                padding: 0rem;
    
                li{
                    font-size: 1rem;
                }
            }
    
        }
    
        .contactDetails{
            font-family: Poppins;
    
            p{
                font-size: 1rem;
                font-family: Poppins;
                color: #433C3C;
                margin-bottom: 1rem;
            }
        }
    }
}


@media all and (min-width:768px){

    .footerContainer{
        padding: 3rem 2rem;
        gap: 2rem;
    
        .profileSummary{
            div{
                img{
                    width: 20%;
                }
            }
            p{
                margin-bottom: 0.5rem;
            }
        }
    
        :is(.productSection, .aboutSection, .socialsSection, .contactSection){
            .header{
                font-weight: 600;
                color: #22467B;
                margin-bottom: 1rem;
            }
            ul{
                padding: 0rem;
                li{
                    margin-bottom: 0.5rem;
                    cursor: pointer;
    
                    span:nth-child(1){
                        margin-right: 0.5rem;
                    }
                    img{
                        width: 1.125rem;
                        
                    }
    
                    &:hover{
                        font-weight: bold;
                    }
                }
            }
        }
    }

}

@media all and (min-width:991px){
    .footerContainer{
        padding: 3rem 2rem;
        gap: 0rem;
        flex-direction: row !important;
        justify-content: space-between;
    
        .profileSummary{
            width: 35%;
            div{
                img{
                    width: 30%;
                }
            }
            p{
                margin-bottom: 0.5rem;
            }
        }
    
        :is(.productSection, .aboutSection, .socialsSection, .contactSection){
            .header{
                font-weight: 600;
                color: #22467B;
                margin-bottom: 1rem;
            }
            ul{
                padding: 0rem;
                li{
                    margin-bottom: 0.5rem;
                    cursor: pointer;
    
                    span:nth-child(1){
                        margin-right: 0.5rem;
                    }
                    img{
                        width: 1.125rem;
                        
                    }
    
                    &:hover{
                        font-weight: bold;
                    }
                }
            }
        }
    }
}

@media all and (min-width:1200px){
    .footerContainer{
        padding: 7rem 2rem;
        gap: 0rem;
        flex-direction: row !important;
        justify-content: space-between;
    
        .profileSummary{
            width: 30%;
            div{
                margin-bottom: 1rem;
                img{
                    width: 50%;
                }
            }
            p{
                margin-bottom: 0.5rem;
                font-size: 1rem;
            }
        }
    
        :is(.productSection, .aboutSection, .socialsSection, .contactSection){
            .header{
                font-weight: 600;
                color: #22467B;
                margin-bottom: 1rem;
            }
            ul{
                padding: 0rem;
                li{
                    font-size: 0.875rem;
                    margin-bottom: 0.5rem;
                    cursor: pointer;
    
                    span:nth-child(1){
                        margin-right: 0.5rem;
                    }
                    img{
                        width: 1.125rem;
                        
                    }
    
                    &:hover{
                        font-weight: bold;
                    }
                }
            }
        }
    }
}