.error-page-container {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    height: 100vh;
   

    .error-card{
        width: 100%;
        background: #FFFFFF;
        height: 75%;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 1rem;

        .wrapper{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;

            svg {
                font-size: 5rem;
                margin-bottom: 1.5rem;
            }
            
            p{
              text-align: center;
              font-size: 1.125rem;
              margin-bottom: 1rem;
            }
            small{
                margin-bottom: 1rem;
                text-align: center;
            }
        }
      }
}

@media all and (min-width: 768px) {
    .error-page-container{
        p{
            min-width: 50%;
        }
    }
  
}


  