.featuresContainer{
    padding: 1rem;
    gap: 2rem;

    h3{
        margin-bottom: 1rem;
        font-size: 1.5rem;
        color: #496690;
        text-align: center;
    }

    .innerContainer{
        gap: 0.875rem;
        border-radius: 0.25rem;
        border: none;
        padding: 2rem 1rem;
        // background-color: #49679009;
        background-color: #fff2f299;
        box-shadow: 0px 4px 12px rgba(29, 30, 36, 0.15);

        .subCategory{
            font-size: 1.25rem;
            color: #d25b5d;
        }
        .pointsContainer{
            flex-wrap: wrap;
            gap: 1rem;
        .wrapper{
            gap: 0.25rem;
            .heading{
                gap: 0.25rem;
                img{
                    width: 0.5rem;
                    height: 0.5rem;
                }
                span{
                    font-size: 1rem;
                    font-weight: 100;
                    color: #496690;
                    line-height: 1.25rem;
                }
            }

            .details{
                padding-left: 1rem;
                span{
                    display: block;
                    font-size: 0.875rem;
                    line-height: 1rem;
                    color: rgba(0, 0, 0, 0.75);
                    text-align: justify;
                }
            }
        } 
    }
    }
}

@media all and (min-width: 768px) {
    .featuresContainer{
        padding: 2rem;
        gap: 1rem;
    
        h3{
            font-size: 1.75rem;
        }
    
        .innerContainer{
            gap: 0.5rem;
    
            .subCategory{
                font-size: 1.25rem;
            }
            .pointsContainer{
                gap: 2rem;
                align-items: stretch;
          
            .wrapper{
                width: 45%;
                .heading{
                    gap: 0.5rem;
                    img{
                        width: 0.5rem;
                        height: 0.5rem;
                    }
                    span{
                        font-size: 1rem;
                    }
                }
    
                .details{
                    padding-left: 1rem;
                    span{
                        font-size: 0.875rem;
                    }
                }
            }
        }  
    }
    }
}

@media all and (min-width: 992px) {
    .featuresContainer{
        padding: 2rem;
        gap: 2.5rem;
    
        h3{
            font-size: 1.75rem;
        }
    
        .innerContainer{
            gap: 0.5rem;
            padding: 3rem 2rem;
    
            .subCategory{
                font-size: 1.25rem;
            }
            .pointsContainer{
                gap: 2rem;
                align-items: stretch;
          
            .wrapper{
                width: 45%;
                .heading{
                    gap: 0.5rem;
                    img{
                        width: 0.5rem;
                        height: 0.5rem;
                    }
                    span{
                        font-size: 1rem;
                    }
                }
    
                .details{
                    padding-left: 1.25rem;
                    span{
                        font-size: 0.875rem;
                        line-height: 1.5rem;
                    }
                }
            }
        }  
    }
    }
}