.testimonialsContainer{
    width: 100%;
    padding: 3rem 1rem;
    margin: 0rem 0rem 2rem 0rem;
    color: #D25B5D;  
}

.cardWrapper {
    justify-content: center;
    //  gap:3rem;
    //  flex-wrap: wrap;
     .cardItem{
        width: 19rem ;
        width: 100%;
        border: none;
        border-radius: 10px;
        box-shadow: 0px 24px 28px rgba(210, 213, 235, 0.4);
        padding: 1rem 0rem;
        color: #496690;
        font-family: NunitoSans;
        font-weight: 600;
        
        .cardHeader{
            background-color: transparent;
            border: none;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: nowrap;
            gap: 0.5rem;

            .userInfo{
                text-align: left;

                span:nth-child(1){
                    font-weight: bold;
                    padding: 0rem;
                    margin: 0rem;
                }
                span:nth-child(2){
                    color: #4967907f;
                    padding: 0rem;
                    margin: 0rem 0rem 0rem 0.5rem;
                }
            }

            .avatar{
                width: 3rem;

            }
            i img{
                width: 1rem;
            }
          
        }
        .cardBody{
            text-align: justify;
            font-size: 1rem;
        }
    }
}

@media all and (min-width:768px){
    .testimonialsContainer{
        .header{
            padding: 0rem 0rem 1rem 1rem;
        }

        .cardWrapper {
        // gap: 1rem;
        // margin-top: 2rem;
        padding: 0rem;
         .cardItem{
            width: 19rem ;
        }
    }
    }
   
}

@media all and (min-width: 991px){

    .testimonialsContainer{
    .cardWrapper {
            // margin-top: 2rem;
        padding: 0rem;
            .cardItem{
                width: 18rem ;
            }
        }
    }
 
}

@media all and (min-width: 1200px){

    .testimonialsContainer{
        .header{
            padding: 0rem 0rem 1rem 2rem;
        }
        .cardWrapper {
            // margin-top: 2rem;
        padding: 2.5rem 0rem;
            .cardItem{
                width: 21rem ;
            }
        }
    }

}