.addNewStudentContainer{
    width: 100%;
    background-color: #fff;
    background-color: transparent;
    gap: 1rem;

    .header{
        align-items: flex-end;
        justify-content: flex-end;
        padding-bottom: 0rem;
        line-height: 1;
        color: #fff;

        p{
            line-height: 1;
            width: 100%;
        }
        svg{
            cursor: pointer;
        }

    }
    .addClassDiv{
        align-items: center;
        gap: 2rem;
        text-align: center;
    }
    .formWrapper{
        background-color: #fff;
        padding: 1rem;
        border-radius: 0.5rem;
        gap: 3rem;
        .header {
            position: relative;

            p{
               color: #D25B5D;
               font-size: 1.25rem;
               text-align: center;
            }
        }

        form{    
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            .inputsWrapper{
                flex-wrap: wrap;
                gap: 0.5rem;

                >div{
                width: 49%;
                margin-bottom: 1.625rem !important;
            } 

            .selectAutoCompleteWrapper{
                margin-bottom: 0rem !important;
                > div{
                    margin-bottom: 0rem !important;
                }
                .subjectsLabel{
                    font-size: 0.75rem;
                    margin: 0rem;
                    padding: 0rem;
                    line-height: 1;
                    position: relative;
                 }
                 span:last-of-type{
                    top: 0rem !important;
                }
            }
         
            }

            .btnDiv{
                justify-content: center;
                padding-top: 1rem;
             }


        }
    }
}

@media all and (min-width: 768px){
    .addNewStudentContainer{
        gap: 1rem;
    
        .header{
        }
        .formWrapper{
            gap: 3rem;
            .header {
    
            }
    
            form{    
                .btnDiv{
                    justify-content: center;
                    padding-top: 0rem;
                 }
            }
        }
    }
}


@media all and (min-width: 991px){
    .addNewStudentContainer{
        gap: 1rem;
    
        .header{
        }
        .formWrapper{
            gap: 2rem;
            .header {

            }
    
            form{    

            }
        }
    }
}

