.container{
    padding: 0.5rem 1rem;

    .active{
        border: 1px solid #D25B5D !important;
    }

    .cardWrapper {
        justify-content: flex-start;
         gap:1rem;
         flex-wrap: nowrap;
         margin-bottom: 2rem;
    
         .cardItem{
            width: 9rem ;
            border: none;
            background-color: transparent;
            box-shadow: 0px 7px 34px rgba(29, 30, 36, 0.05);
            padding: 1rem 0.5rem;

            .cardBody{
                background-color: transparent;
                border: none;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                padding: 0.5em;

                svg{
                    margin-bottom: 0.5rem;
                }
               
                p{
                    font-size: 0.875rem;
                    line-height: 1;
                    margin: 0rem;
                }
            }
        }
    }

    .submitBtnDiv{
        justify-content: center;
        margin: 1rem 0rem;
 
        button{
            width: 100%;
        }
    }
}

@media all and (min-width: 768px) {
    .cardWrapper {
    
         .cardItem{
            .cardBody{
                padding: 0.75em;

                svg{
                    margin-bottom: 0.625rem;
                }
               
                p{
                    font-size: 1rem;
                    line-height: 1;
                    margin: 0rem;
                }
            }
        }
    }
}

@media all and (min-width:991px){
    .container{
        padding: 1rem 2rem 1rem 2rem;
    }
}

@media all and (min-width:1200px){
    .container{
        padding: 2rem 3rem 1rem 3rem;

        .cardWrapper {
             gap:1.5rem;
        
             .cardItem{
                width: 11rem ;
                padding: 1rem 1.5rem;
    
                .cardBody{
                    svg{
                        margin-bottom: 0.875rem;
                    }
                   
                    p{
                        font-size: 1rem;
                    }
                }
            }
        }

    }    
}


