@font-face {
  font-family: 'Poppins';
  src: local('Poppins'), 
  url("./assets//fonts/Poppins-Regular.ttf") 
  format('truetype');
}

@font-face {
  font-family: 'Kronika';
  src: local('Kronika'), 
  url("./assets//fonts/Kronika.ttf") 
  format('truetype');
}

@font-face {
  font-family: 'NunitoSans';
  src: local('NunitoSans'), 
  url("./assets/fonts/NunitoSans-Regular.ttf") 
  format('truetype');
}

@font-face {
  font-family: 'KGCorneroftheSky';
  src: local('KGCorneroftheSky'), 
  url("./assets/fonts/KGCorneroftheSky.ttf") 
  format('truetype');
}

* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'KGCorneroftheSky', 'Poppins', "NunitoSans", 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #C4C4C4;
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 1920px;
  margin: 0 auto;
  overflow-x: hidden;
  font-size: calc(15px + 0.390625vw);
}
/* .row-no-padding {
  margin-left: 0;
  margin-right: 0;
} */

[class*="col-4"],  
[class^="col-4"] { 
  padding-left: 0;
  padding-right: 0;
}

/* [class*="col-"],  
[class^="col-"] { 
  padding-left: 0;
  padding-right: 0;
} */

/* [class*="row-"],  
[class^="row-"] { 
  padding-left: 0;
  padding-right: 0;
} */
/* .no-gutter > [class*='col-'] {
  padding-right:0;
  padding-left:0;
} */


#root{
  width: 100%;
  margin: 0;
  padding: 0rem;
}

.flexRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.flexCol {
  display: flex;
  flex-direction: column;
}
.flexCol-align-center{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flexCol-justify-center{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.flexRow-fully-centered{
  display: flex;
  justify-content: center;
  align-items: center;
}
.flexRow-left-centered{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.flexCol-fully-centered{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flexRow-space-between{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
a{
  text-decoration: none;
  color: inherit;
}
a:hover{
  color: inherit;
  text-decoration: none;

}
li{
  list-style-type: none;
}
p{
  font-family: NunitoSans;
  margin: 0rem;
  padding: 0rem;
}
h1,h2,h3 {
  font-family: KGCorneroftheSky;
  font-weight: bold;
}
  
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid none;
  -webkit-text-fill-color: none;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
}

button:disabled,
button[disabled] {
  background-color: #b3b9f7 !important;
  color: gray !important;
  cursor: not-allowed;
  border: none;
}

h1, h2,h3,h4,h5,h6, p {
  /* Font minimum, preferred and maximum value */
  font-size: clamp(var(--min), var(--val), var(--max));
}

/* Font size variables */
h1 {
  --min: 1.375rem; /* minimum value */
  --val: 5vw; /* preferred value = 5% viewport width */
  --max: 1.5rem; /* maximum value */
}
h2 {
  --min: 1.25rem;   /* minimum value */
  --val: 5vw;     /* preferred value = 4% viewport width */
  --max: 1.37rem;  /* maximum value */
}
h3 {
  --min: 1.125rem;   /* minimum value */
  --val: 4vw;     /* preferred value = 5% viewport width */
  --max: 1.25rem;  /* maximum value */
}

p {
  --min: 1rem;   /* minimum value */
  --val: 2.5vw; /* preferred value = 2.5% viewport width */
  --max: 1.125rem; /* maximum value */
}


/* Swiper Pagination Div */
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: -5px;
  left: 0;
  width: 100%;
}