.loginWrapper{
    padding: 0rem;
    margin: 1rem 0rem !important;
    width: 90%;
    box-shadow: 0px 7px 34px rgba(29, 30, 36, 0.25);
    border-radius: 0.5rem;

    .leftCol{
        background-color: #22467B;
        padding: 1rem;
        color: #fff;
        border-radius: 0.5rem 0.5rem 0rem 0rem;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .wordBreak{
            position: relative;
            img{
                position: absolute;
                width: 1.25rem;
            }
            .floatingIcon{
                top: -30%;
                left: -32.5%;
           }

        }
    }
    .rightCol{
    background-color: #fff;
    padding: 1rem 1rem 2rem 1rem;
    border-radius: 0rem 0rem 0.5rem 0.5rem ;
    gap: 1.125rem;
    align-items: center;

    .logo{
        width: 50%;
    }
    
    .formWrapper{
        width: 100%;
        form{
            
        .formText{
            color: #413D3D;
            font-size: 0.875rem;
            margin-bottom: 0.5rem;
            text-align: center;
            a{
                margin: 1rem 0rem;
            }
        }

        a{
            color: #22467B;
                font-weight: bold;
        }
       
        .forgotPasswordWrapper{
            color: #413D3D;
            justify-content: space-between;
            margin: 0rem 0rem;
            a{
                font-size: 0.875rem;
                font-weight: 450;
            }
    
            .checkboxDiv{
                input{
                    margin-right: 0.25rem;
                }
            }
        }
        .submitBtnDiv{
           justify-content: center;
           margin: 1rem 0rem;
    
           button{
               width: 100%;
           }
        }
    }
    }
    
}
}


@media all and (min-width: 768px) {
    .loginWrapper{
        margin: 3rem 0rem !important;
        width: 90%;
    
        .leftCol{
            padding: 1rem;
            border-radius: 0.5rem 0rem 0rem 0.5rem;
            p{
                font-size: 1rem;
            }
        }
        .rightCol{
        padding: 1rem 1rem 2.5rem 1rem;
        border-radius: 0rem 0.5rem 0.5rem 0rem ;
        gap: 1.25rem;
    
        .logo{
            width: 50%;
        }
        
        .formWrapper{
            form{
                
            .formText{
                font-size: 1rem;
                margin-bottom: 0.75rem;
                a{
                    margin: 1.25rem 0rem;
                }
            }
           
            .forgotPasswordWrapper{
                color: #413D3D;
                justify-content: space-between;
                margin: 0rem 0rem;
                font-size: 1rem;
        
                .checkboxDiv{
                    input{
                        margin-right: 0.25rem;
                    }
                }
            }
            .submitBtnDiv{
               justify-content: center;
               margin: 1.25rem 0rem;
        
               button{
                   width: 100%;
               }
            }
        }
        }
        
    }
    }
}

@media all and (min-width: 991px) {
    .loginWrapper{
        margin: 2rem 0rem !important;
        width: 80%;
    
        .leftCol{
            padding: 3rem;
            border-radius: 0.5rem 0rem 0rem 0.5rem;
            p{
                font-size: 1rem;
            }
        }
        .rightCol{
        padding: 3rem 3rem 3rem 3rem;
        border-radius: 0rem 0.5rem 0.5rem 0rem ;
        gap: 1.25rem;
    
        .logo{
            width: 50%;
        }
        
        .formWrapper{
            form{
                
            .formText{
                font-size: 1rem;
                margin-bottom: 0.75rem;
                a{
                    margin: 1.25rem 0rem;
                }
            }
           
            .forgotPasswordWrapper{
                color: #413D3D;
                justify-content: space-between;
                margin: 0rem 0rem;
                font-size: 1rem;
        
                .checkboxDiv{
                    input{
                        margin-right: 0.25rem;
                    }
                }
            }
            .submitBtnDiv{
               justify-content: center;
               margin: 1.25rem 0rem;
        
               button{
                   width: 100%;
               }
            }
        }
        }
        
    }
    }
}

@media all and (min-width: 1200px) {
    .loginWrapper{
        margin: 2.5rem 0rem !important;
        width: 70%;
    
        .leftCol{
            padding: 3rem;
            border-radius: 0.5rem 0rem 0rem 0.5rem;
            p{
                font-size: 1rem;
            }
        }
        .rightCol{
        padding: 3rem 3rem 3rem 3rem;
        gap: 1.25rem;
        
        .formWrapper{
            form{
            .formText{
                font-size: 1rem;
                margin-bottom: 0.75rem;
                a{
                    margin: 1.25rem 0rem;
                }
            }
           
            .forgotPasswordWrapper{
                font-size: 1rem;
        
                .checkboxDiv{
                    input{
                        margin-right: 0.25rem;
                    }
                }
            }
        }
        }
        
    }
    }
}