.priceCardContainer {
    margin: 0rem 0rem 0rem 0rem;
    .wrapper {
        display: flex;
        flex-direction: column;    
            margin: 0rem 0rem 0rem 0rem;
            border: 1px solid #B2CCFC;
            padding: 0rem 0rem 2rem 0rem;
            border-radius: 1rem;
            color: #496690;

            border: none;
            background-color: #fff;
            box-shadow: 0px 7px 34px rgba(29, 30, 36, 0.15);
           
            .benefitsHeader{
                font-size: 1rem;
                color: #494E69;
                font-family: NunitoSans;
                text-align: left;
                margin-top: 0rem;
                padding: 1rem;
                border-radius: 1rem 1rem 0rem 0rem;

                .title{
                    line-height: 1;
                    padding: 0rem;
                    margin-inline: auto;
                    margin-block: 0rem;
                    font-weight: 600;
                    width: 25%;
                }
            }
            .benefitsListWrapper{
                margin: 1rem 0rem 0rem 0rem;
                padding: 0rem 1rem 0rem 1.5rem;
                .listItemWrapper{
                    display: flex;
                    margin: 0.5rem 0rem;
                    padding: 0rem;
                    align-items: center;


                    i{
                        margin-right: 1rem;
                    }
                    .listItem{
                        font-family: NunitoSans;
                        font-size: 0.875rem;
                        margin: 0rem;
                        text-align: left;
                        color: #496690;

                    }
                }
            }

            .editPlanDiv{
                justify-content: center;
                margin-top: 2rem;

                p{
                    color: #D25B5D;
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
        
    }
}

@media all and (min-width: 768px){
    .priceCardContainer {
        margin: 1rem 0rem;
        justify-content: center;
        
        .wrapper {       
                padding: 0rem 0rem 2rem 0rem;
               
                .benefitsHeader{
                    font-size: 1rem;                    
                    padding: 1rem;
    
                    .title{
                        width: 25%;
                    }
                }
                .benefitsListWrapper{
                    margin: 1rem 0rem 0rem 0rem;
                    padding: 0rem 1rem 0rem 0.5rem;
                    .listItemWrapper{
                        display: flex;
                        margin: 0.5rem 0rem;
                        padding: 0rem;
                        align-items: flex-start;
    
    
                        i{
                            margin-right: 0.5rem;
                            padding: 0rem;
                            line-height: 1;
                        }
                        .listItem{
                            font-size: 0.875rem;
                        }
                    }
                }
        }
        }
}

@media all and (min-width: 991px){
    .priceCardContainer {
        margin: 1rem 0rem;
        justify-content: center;
        
        .wrapper {       
                padding: 0rem 0rem 2rem 0rem;
               
                .benefitsHeader{
                    font-size: 1rem;                    
                    padding: 1rem;
    
                    .title{
                        width: 25%;
                    }
                }
                .benefitsListWrapper{
                    margin: 1rem 0rem 0rem 0rem;
                    padding: 0rem 1rem 0rem 0.5rem;
                    .listItemWrapper{
                        display: flex;
                        margin: 0.5rem 0rem;
                        padding: 0rem;
                        align-items: flex-start;
    
    
                        i{
                            margin-right: 0.5rem;
                            padding: 0rem;
                            line-height: 1;
                        }
                        .listItem{
                            font-size: 0.875rem;
                        }
                    }
                }
        }
        }
}

@media all and (min-width: 1200px){
    .priceCardContainer {
        margin: 1rem 0rem;
        justify-content: center;
        
        .wrapper {       
                padding: 0rem 0rem 2rem 0rem;
               
                .benefitsHeader{
                    font-size: 1rem;                    
                    padding: 1rem;
    
                    .title{
                        width: 35%;
                    }
                }
                .benefitsListWrapper{
                    margin: 1rem 0rem 0rem 0rem;
                    padding: 0rem 1rem 0rem 1.5rem;
                    .listItemWrapper{
                        display: flex;
                        margin: 0.5rem 0rem;
                        padding: 0rem;
                        align-items: flex-start;
    
    
                        i{
                            margin-right: 0.5rem;
                            padding: 0rem;
                            line-height: 1;
                            img{
                                vertical-align: top;
                            }
                        }
                        .listItem{
                            font-size: 0.875rem;
                            line-height: 1;
                            padding: 0rem;
                        }
                    }
                }
        }
        }
}