.mailChimpContainer{
    margin-bottom: 1rem;

    .formGroup{
        width: 100%;
        align-items: flex-end;
        gap: 1rem;

        .inputWrapper{
            width: 100%;
            margin: 0rem;
        }

        button{
            padding: 0.5rem 0.75rem;
        }
    }


}